<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <div class="site-wrapper">
      {{ include (incHeader) }}
      <main>
        <nav>
          <ul class="main-navigation-ul">
            <li class="main-navigation-li main-navigation-li-active">
              <a href="artikel.php">DER, DIE, DAS</a>
            </li>
            <li class="main-navigation-li">
              <a href="singular-plural.php">SINGULAR/PLURAL</a>
            </li>
            <li class="main-navigation-li">
              <a href="lueckentexte.php">LÜCKENTEXTE</a>
            </li>
          </ul>
        </nav>
        <div class="content-wrapper">
          <ul class="sub-navigation-ul">
            {% for thema in themen %}
              <li class="sub-navigation-li {{ thema.activeClass }}">
                <a href="{{ thema.href }}">
                  {{ thema.thema }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="content">
            {% if case != 1 %}
              <form method="POST" action="{{ formAction }}">
                {% for item in data %}
                  <div class="article-item">
                    <select id="artikel" name="{{ item.id }}">
                      {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                      {% endfor %}
                    </select>

                    <span class="nomen-item">{{ item.nomen }}</span>
                  </div>
                  {% endfor %}

                  {% for thema in themen %}
                    {% if thema.activeClass != '' %}
                    <input type="hidden" name="urlId" value="{{ thema.thema_id }}" >
                    <input type="hidden" name="count" value="{{ count }}" >
                    <input type="hidden" name="url" value="{{ thema.href }}" >
                    {% endif %}
                  {% endfor %}
                <button type="submit" name="button" value="check">prüfen</button>
                <button type="submit" name="button" value="reset">zurücksetzen</button>
              </form>
            {% endif %}
          </div>
        </div>
      </main>
      {{ include (incFooter) }}
    </div>
  </body>
</html>