<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <title>{{titel}}</title>
</head>

<body>
  <div class="site-wrapper">
      {% include (inc.incHeader) with {'username': username, 'path' : '../'} %}
    <main>
      {% include (inc.incNav) with {'pos': pos, 'path': ''} %}
      
      <div class="content-wrapper">
        <ul class="sub-navigation-ul">
        {% for category in categories %}
          <li class="sub-navigation-li sub-navigation-li-width {{ category.activeClass }}">
            <a href="{{ category.href }}">
              {{ category.category }}
            </a>
          </li>
        {% endfor %}
        </ul>
        <div class="content">
       
          {% if case != 1 %}
            <form class="article-form" method="POST" action="{{ formAction }}">
              <div class="items-wrapper" > 
                {% for item in data %}
                  <div class="article-item">
                    {% if case == 3 %}
                      {{ item.result == true ? '<span style="color: limegreen; width: 14px" >&#10004</span>' : '<span style="color: red; width: 14px" >&#10006</span>' }} 
                    {% endif %}
                    {{ item.textPart1 }}
                    <select class="select" id="artikel" name="{{ 'artikel_' ~ item.id }}">
                     {% set selected = 'selected' %}
                      {% for option in declinations[item.textPart2] %}
                        <option value="{{ option }}" {{ item.userInput == option ? selected : '' }}>{{ option }}</option>
                      {% endfor %}
                    </select>
                    <span class="nomen-item">{{ item.textPart3 }}</span>
                  </div>
                {% endfor %}

                {% for category in categories %}
                  {% if category.activeClass != '' %}
                    <input type="hidden" name="urlId" value="{{ category.category_id }}" >
                    <input type="hidden" name="page" value="{{ page }}" >
                  {% endif %}
                {% endfor %}
              </div>
              <div class="button-wrapper" >
                <button class="form-button" type="submit" name="button" value="check">prüfen</button>
                <button class="form-button" type="submit" name="button" value="reset">zurücksetzen</button>
                <div class="next-button">
                {% include (inc.incPrevNext) with {'group': categories} %}
                </div>
              </div>
            </div>   
          </form>
          {% endif %}
          {% if message|length > 1 %}
           <p>{{ message }}</p>
          {% endif %}
        </div>
      </div>
    </main>
    {{include (inc.incFooter)}}
  </div>
</body>

</html>