<header>
  <div class="header-left-side">
    <a href="{{path ~ 'index.php'}}"><img src="{{path ~ 'img/home1.png'}}" alt="home" class="home-icon" width="30px" height="30px"></a>
  </div>
  <div class="header-title">
    <h1 class="header-h1">Teste Dein Deutsch</h1>
    <h2 class="header-h2">kleine Übungen für zwischendurch</h2>
  </div>
  <div class="header-right-side">

  {% if username|length == 0 %}
    <a class="login-link" href="{{path}}login.php">login</a>
    {% else %}
    <div style="position: absolute; top: 30px; right: 15px" >Hallo {{username}}</div>
    <a class="login-link" href="{{path}}index.php?logout=true">logout</a>
    {% endif %}
  </div>
</header>