<nav>
  <ul class="main-navigation-ul">
    <li class="main-navigation-li {{ pos == 1 ? 'main-navigation-li-active' : ''}}" >
      <a href="{{path}}artikel.php">DER,&nbspDIE,&nbspDAS</a>
    </li>
    <li class="main-navigation-li {{ pos == 2 ? 'main-navigation-li-active' : ''}}">
      <a href="{{path}}singular-plural.php">SINGULAR/PLURAL</a>
    </li>
    <li class="main-navigation-li {{ pos == 3 ? 'main-navigation-li-active' : ''}}" >
      <a href="{{path}}lueckentexte.php">LÜCKENTEXTE</a>
    </li>
  </ul>
</nav>